body {
  background-color: ivory;
}
p {
	border-color: pink;
	border-style: solid;
	border-width: medium;
}
li {
	font-weight: bold;
}
h1 {
	font-family: cursive;
  	color: lightseagreen;
}
h2 {
	color:lightseagreen;
}
h3 {
	color:lightseagreen;
}

